@media screen and ( max-width: 767px ) {
    .mobile_hidden {
        display: none !important;
    }
}
body{
    background: #232526;
    color: #fff;
    height:100%;
    overflow-y: hidden;
}
body::-webkit-scrollbar {
    display: none;
}
section{
    height:100vh;
    width: auto;
}
.job_descriptions{
    width: 600px;
}
/*.jobs_box{
    
}*/
.projects_description_height{
    /*max-height: 430px;*/
    max-height: 50vh;
}
.overflow-elements {
    overflow-y: auto !important;
    -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
    scrollbar-width: thin; /* can also be normal, or none, to not render scrollbar */
    scrollbar-color: currentColor transparent; /* foreground background */
    padding-bottom: 15%;
}
/* Webkit / Blink */
.overflow-elements::-webkit-scrollbar {
    width: 5px;
}

.overflow-elements::-webkit-scrollbar-thumb {
    background-color: currentColor;
    border-radius: 9999px; /* always round */
    background-color: #f59c28;
}
.company_logo_box{
    height: 200px;
    vertical-align: middle;;
}
.company_logo{
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h5{
    color: #5c8f03;
    font-weight: bold;
}
.bold{
    font-weight: bold;
}
h1{
    text-align: center;
    color: #5c8f03;
}
.size-30{
    font-size: 30px;
}
.size-20{
    font-size: 20px;
}
.size-15{
    font-size: 15px;
}
.orange{
    color: #f59c28;
}
.green{
    color: #5c8f03;
}
.blue{
    color: #2d50c5;
}
.violet{
    color: #9d66e6;
}
.white{
    color: #ffffff;
}
.inactive_row{
    color: #a7a7a7;
}
.profile_photo {
    height: 200px;
}
.icon {
    height: 25px;
    vertical-align: middle;
}
.max_with_1050{
    max-width: 900px;
}
.mtb0 {
    margin-top: -2px;
    margin-bottom : -2px;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
.bg_emphasis{
    background-color: #ca7525;
    color: #ffffff;
}
.bg_not_emphasis{
    background-color: #ca75258f;
}
.hidden{
    display: none;
}
/* .text-not-selectable{
    cursor: default;
    user-select: none;
} */
.not_selectable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.not_selectable::selection {
    background: transparent;
}