body{
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}
h5{
    color: #5c8f03;
    font-weight: bold;
}
.bold{
    font-weight: bold;
}
h1{
    text-align: center;
    color: #5c8f03;
}
.size-30{
    font-size: 30px;
}
.size-20{
    font-size: 20px;
}
.size-15{
    font-size: 15px;
}
.orange{
    color: #f59c28;
}
.green{
    color: #5c8f03;
}
.blue{
    color: #2d50c5;
}
.violet{
    color: #9d66e6;
}
.white{
    color: #ffffff;
}
.inactive_row{
    color: #a7a7a7;
}
.profile_photo {
    height: 200px;
}
.icon {
    height: 25px;
    vertical-align: middle;
}
.max_with_1050{
    max-width: 1050px;
}
.mtb0 {
    margin-top: -2px;
    margin-bottom : -2px;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
.bg_emphasis_green{
    background-color: #56833c;
    color: #ffffff;
}
.bg_not_emphasis_green{
    background-color: #56833c8a;
}
.bg_emphasis{
    background-color: #ca7525;
    color: #ffffff;
}
.bg_not_emphasis{
    background-color: #ca75258f;
}