{% extends "layout.html" %}

{% block content %}

<div id="Jobs_container" class="container-fluid">
    <div id="Jobs_row" class="row flex-row flex-nowrap">
        {% for job in jobs %}
            <div id="{{ job[ 'name' ] }}" class="p-4 job_descriptions">
                <div id="Job_box" class="g-0 card bg-transparent border rounded border-warning">
                    <a id="Company_logo_link" class="col p-4 company_logo_box" href="{{ job[ 'url' ] }}" target="_blank">
                        <img id="Company_logo_img" src="{{ job[ 'img_src' ] }}" class="img-fluid rounded-start company_logo" alt="{{ job[ 'name' ] }}">
                    </a>
                    <div id="Job_history" class="card-body">
                        <div id="Job_history_header" class="text-center">
                            <p id="Time_span" class="card-text bold">{{ job[ 'time_span' ] }}</p>
                            <p id="Position" class="card-text bold">{{ job[ 'position' ] }}</p>
                            <p id="City" class="card-text bold">{{ job[ 'city' ] }}</p>
                        </div>
                        <div id="Job_history_description" class="projects_description_height overflow-elements">
                            {% for project in job[ 'projects' ] %}
                                <div id="{{ project[ 'name' ] }}">
                                    <h5 id="Project_name" class="card-title">{{ project[ 'name' ] }}</h5>
                                    <span id="Project_descrption" class="card-text">
                                        {{ project[ 'description' ] }}
                                    </span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
</div>

{% endblock %}