{% extends "layout.html" %}

{% block content %}

<div class="container p-4">
    <!-- Main content -->
    <div class="table-responsive-sm max_with_1050 center">
        <table class="table align-middle table-borderless mtb0 size-20">
            <tbody>
                <tr class="bg_not_emphasis">
                    <td style="background-color:#ca75258f;width:35px">
                        <img src="{{url_for('static',filename = 'images/icon-python.png')}}"
                            class="rounded mx-auto d-block icon not_selectable" alt="Python">
                    </td>
                    <td style="background-color:#ca75258f;width:100px" class="white text-center">
                        <span class="not_selectable">
                            hello_world.py
                        </span>
                        <!-- <div onselectstart="return false">your text</div> Not working properly-->
                    </td>
                    <td style="background-color:#ca75258f;width:45px">
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <table class="table table-borderless table-dark mtb0">
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <table class="table align-middle table-dark table-hover table-borderless mtb0 size-20">
            <tbody>
                <tr>
                    <td></td>
                    <td class="inactive_row">1</td>
                    <td>
                        <span class="orange">
                            January 2022
                        </span>
                    </td>
                    <td class="mobile_hidden"></td>
                    <td class="mobile_hidden"></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="inactive_row">2</td>
                    <td>
                        <span class="green">
                            Maretto, Matías Ezequiel
                        </span>
                    </td>
                    <td colspan="2" rowspan="5" style="width:400px"  class="mobile_hidden">
                        <img id="profile_photo" src="{{url_for('static',filename = 'images/profile_foto_rounded.png')}}"
                            class="rounded mx-auto d-block profile_photo" alt="Matías Ezequiel Maretto">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="inactive_row">3</td>
                    <td>
                        <span class="blue">
                            +54 11 3118-3146
                        </span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="inactive_row">4</td>
                    <td>
                        <span class="blue">
                            matias.maretto@gmail.com
                        </span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="inactive_row">5</td>
                    <td>
                        <span class="blue">
                            Tomás M. Saubidet 3988 - 10 C
                        </span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="inactive_row">6</td>
                    <td>
                        <span class="blue">
                            Villa Martelli | Vicente López
                        </span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="inactive_row">7</td>
                    <td colspan="2">
                        <span class="violet">print</span>
                        <span class="white">(</span>
                        <span class="green">'Lack of knowledge is not an excuse or impediment,</span>
                    </td>
                    <td style="width:0px" class="mobile_hidden"></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="inactive_row">8</td>
                    <td colspan="2" align="right">
                        <span class="green">it’s just the first step to learn something new.'</span>
                        <span class="white">)</span>
                    </td>
                    <td style="width:0px" class="mobile_hidden"></td>
                </tr>
            </tbody>
        </table>
        <table class="table table-borderless table-dark mtb0">
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <table class="table align-middle table-borderless mtb0 size-15">
            <tbody>
                <tr class="bg_emphasis text-center">
                    <td style="width:10px" align="left"></td>
                    <td style="width:80px" class="text-center" align="left">master</td>
                    <td></td>
                    <td style="width:80px" class="text-center" align="right">UTF-8</td>
                    <td style="width:80px" class="text-center" align="right">Python</td>
                    <td style="width:80px" class="text-center" align="right">3.9.1</td>
                    <td style="width:10px" class="text-center" align="right"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Navigation -->
<div class="container p-4">
    <div class="btn-group center" role="group">
        <a href="{{ url_for( 'index' ) }}" class="btn btn-outline-primary active" aria-current="page">Presentation</a>
        <a href="{{ url_for( 'experience' ) }}" class="btn btn-outline-primary">Experience</a>
    </div>
</div>
{% endblock %}