{% extends "layout.html" %}

{% block content %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Matías Ezequiel Maretto</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for( 'experience' ) }}">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container p-4">
    <!-- Main content -->
    <p>hello_world.py</p>
    <div class="row">
        <div class="col-sm-6 p-4">
            <p class="orange size-30">January 2022</p>
            <p class="green size-30">Maretto, Matías Ezequiel</p>
            <p class="blue size-30">
                +54 11 3118-3146<br>
                matias.maretto@gmail.com<br>
                Tomás M. Saubidet 3988 - 10 C<br>
                Villa Martelli | Vicente López<br>
            </p>
        </div>
        <div class="col-sm-6 p-4">
            <img src="{{url_for('static',filename = 'images/profile_foto_rounded.png')}}" class="rounded mx-auto d-block profile_photo" alt="Matías Ezequiel Maretto">
        </div>
        <div class="col-sm-auto p-4">
            <span class="violet size-30">print</span>&nbsp;<span class="size-30">(</span>&nbsp;<span class="green size-30"> “Lack of knowledge is not an excuse or impediment, it’s just the first step on learning something new.” </span>&nbsp;<span class="size-30"></span><span class="size-30">)</span>
        </div>
    </div>
</div>
{% endblock %}